.form-register{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 10px;
    color: var(--primary-color);
}

.form-register > div {
    display: flex;
    justify-content: space-between;
}


.form-register > div > input {
    color: var(--primary-color);
    width: 350px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.form-register > div > label {
    font-size: 1.2rem;
}

/* .form-register > label > input[type="file"] {
    background-color: var(--secondary-color);
} */

.form-register > button {
    background-color: var(--secondary-color);
    color: var(--white-color);
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    align-self: center;
}


