.users-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 10px;
}
.users-title-container {
  border: 1px solid #000;
  padding: 10px;
}
.users-title-context > div {
display: flex;
justify-content: space-between;
gap: 10px;
}
.users-title-context > div > a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
  padding: 3px;
}
.users-title-context > div > div{
  display: inline-block;
}

.users-title-context > div > span > a,
.album-container > a {
  text-decoration: none;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #fff;
  background-color: red;
  padding: 3px;
  margin: 3px;
} 
.users-title-context > div > span > a.active,
.album-container > a.active{
  background-color: black;
}

.users-title-context > div > a.active {
  color: red;
}

.user-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  flex-basis: 50%;
  gap: 20px;
}
.user-details-container {
  font-size: 1.2rem;
  padding: 10px;
  margin: 10px;
}
.user-container > a {
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: red;
  align-self: flex-end;
  padding: 5px;
  margin: 10px;
}

.user-posts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  height: 300px;
  border: 1px solid #000;
  padding: 10px;
  margin-top: 10px;
  overflow-y: auto;
}
.user-posts-container > div {
  width: 200px;
  border: 1px solid #000;
  padding: 10px;
}

.user-posts-container > div > div {
  padding: 5px;
}


 /* ALbums */

 .user-albums-container{
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  font-size: 1.1rem;
  flex-basis: 50%;
  gap: 10px;
  justify-content: space-around;
 }

 .user-albums-container > div{
   padding: 5px 10px;
 }

 .album-container {
  display: flex;
  justify-content: space-between;
 }
 


/* Photo */


 .photos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 500px;
  overflow-y: auto;
}

.photo-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  box-shadow: 0px 5px 7px black;
  width: 200px;
  padding: 5px;
}