.container {
  display: flex;
  justify-content: space-between;
}
.users-container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  order: 1;
}
.user-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  border: 1px solid black;
  height: 200px;
  margin: 10px;
}
.user-container > div {
  font-size: 1.2rem;
  width: 220px;
  padding: 10px;
}

.btn-details {
  display: block;
  background-color: rgb(242, 57, 57);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
}
