.container {
  display: flex;
  flex-direction: column;
}

.components-container {
  display: flex;
}
.users-wrapper,
.posts-wrapper,
.footer {
  border: 1px solid black;
}

.footer {
  padding: 3px;
}
