.movie-details-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--secondary-color);
  padding: 10px;
  height: 100vh;
  overflow-y: auto;
}
.movie-info-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.poster-container > img {
  width: 400px;
  box-shadow: 0px 5px 10px var(--primary-color);
}

/* h2 {
  font-size: 1.7rem;
  text-align: center;
  letter-spacing: 3px;
  color: var(--white-color);
  background-color: var(--primary-color);
  width: 200px;
} */
