.movies-page {
  background-color: var(--secondary-color);
}

.nav-btns {
  display: flex;
  justify-content: center;
}
.nav-btns > button {
  background-color: var(--primary-color);
  width: 50px;
  border: none;
  color: var(--white-color);
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
}
