@media screen and (max-width: 400px) {
  .header {
    flex-wrap: wrap;
    gap: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
@media screen and (max-height: 400px) {
  .header {
    flex-wrap: wrap;
    gap: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
